<div
  style="
    padding-top: 100px;
    height: 500px;
    background: linear-gradient(135deg, #3b1f47, #23395d);
  "
>
  <div class="flip-box">
    <div class="flip-box-inner" [class.flipped]="isFlipped">
      <div class="flip-box-front">
        <h2 style="text-align: center">Login</h2>

        <form
          #logForm="ngForm"
          style="display: flex; flex-direction: column; align-items: center"
        >
          <div
            style="
              padding: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
            "
          >
            <input
              type="text"
              name="fullname"
              placeholder="Name"
              ngModel
              required
              #fullname="ngModel"
              minlength="3"
              [class.invalid-input]="fullname.invalid && fullname.touched"
              [class.valid-input]="fullname.valid && fullname.touched"
            />
            <div *ngIf="fullname.invalid && fullname.touched">
              <small *ngIf="fullname.errors?.['required']" style="color: red"
                >Enter Valid Fullname</small
              >
              <small
                *ngIf="fullname.errors?.['minlength']"
                style="color: red"
                class="error-msg"
              >
                Invalid Fullname
              </small>
            </div>
          </div>

          <div
            style="
              padding: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
            "
          >
            <input
              type="password"
              name="Password"
              placeholder="Password"
              ngModel
              required
              #password="ngModel"
              minlength="8"
              [class.invalid-input]="password.invalid && password.touched"
              [class.valid-input]="password.valid && password.touched"
            />
            <div *ngIf="password.invalid && password.touched">
              <small
                *ngIf="password.errors?.['required']"
                style="color: red"
                class="error-msg"
                >Enter Valid Password</small
              >
              <small
                *ngIf="password.errors?.['minlength']"
                style="color: red"
                class="error-msg"
              >
                Invalid Password.</small
              >
            </div>
          </div>

          <div style="margin-top: 40px; display: flex; justify-content: center">
            <button type="submit" class="reg-btn">Sign-in</button>
          </div>

          <div style="margin-top: 25px; padding-bottom: 20px;">
            Don't have an account?
            <a href="#" (click)="toggleFlip()">Register</a>
          </div>
        </form>
      </div>

      <div class="flip-box-back">
        <form
          #regForm="ngForm"
          (ngSubmit)="register(regForm)"
         
        >
          <div>
            <h2 style="text-align: center">Register</h2>
          </div>
          <div>
            <div
              style="
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <input
                type="text"
                name="name"
                placeholder="Name"
                ngModel
                required
                #name="ngModel"
                minlength="3"
                [class.invalid-input]="name.invalid && name.touched"
                [class.valid-input]="name.valid && name.touched"
              />
              <div *ngIf="name.invalid && name.touched">
                <small *ngIf="name.errors?.['required']" style="color: red"
                  >Name is required</small
                >
                <small
                  *ngIf="name.errors?.['minlength']"
                  style="color: red"
                  class="error-msg"
                  >Name Atleast 3 letters</small
                >
              </div>
            </div>
            <div
              style="
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <input
                type="email"
                name="email"
                placeholder="Email"
                ngModel
                required
                #email="ngModel"
                required
                email
                [class.invalid-input]="email.invalid && email.touched"
                [class.valid-input]="email.valid && email.touched"
              />
              <div *ngIf="email.invalid && email.touched">
                <small
                  *ngIf="email.errors?.['required']"
                  style="color: red"
                  class="error-msg"
                  >Email is Required</small
                >
                <small
                  *ngIf="email.errors?.['email']"
                  style="color: red"
                  class="error-msg"
                  >Enter valid Email</small
                >
              </div>
            </div>
            <div
              style="
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <input
                type="password"
                name="Password"
                placeholder="password"
                ngModel
                required
                #rpassword="ngModel"
                minlength="8"
                [class.invalid-input]="rpassword.invalid && rpassword.touched"
                [class.valid-input]="rpassword.valid && rpassword.touched"
              />
              <div *ngIf="rpassword.invalid && rpassword.touched">
                <small
                  *ngIf="rpassword.errors?.['required']"
                  style="color: red"
                  class="error-msg"
                  >Password is required</small
                >
                <small
                  *ngIf="rpassword.errors?.['minlength']"
                  style="color: red"
                  class="error-msg"
                  >8 characters & Upper case .</small
                >
              </div>
            </div>
            <div
              style="margin-top: 10px; display: flex; justify-content: center"
            >
              <button type="submit" class="reg-btn">Sign-up</button>
            </div>

            <div style="margin-top: 25px; padding-bottom: 20px; padding-left: 130px;">
              Already have an account?
              <a href="#" (click)="toggleFlip()">Login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
